# Python virtual environment
venv/

# Django database
db.sqlite3

# Uploaded files
uploads/

# Vector DB / storage
db_storage/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db